In [47]:
import numpy as np
import pandas as pd

Median based Anomaly Detection

In [48]:
x = pd.Series([2.1,2.3,4.5,2.2,2.4])

median = np.median(x)
threshold = 2
outliers = []
for item in x:
    if abs(item - median)>threshold:
        outliers.append(item)

print(outliers)

[4.5]

Mean based Anomaly Detection

In [49]:
x = pd.Series([2.1,2.3,4.5,2.2,2.4])

avg = np.mean(x)
std = np.std(x)
print(f'Average is {avg} and Standard Deviation is {std}')

outliers = []
for item in x:
    if (item < avg -std) or (item >avg + std):
        outliers.append(item)

print(outliers)

Average is 2.7 and Standard Deviation is 0.9055385138137416
[4.5]

Z-score based anomaly detection

In [50]:
x= pd.Series([2.1,2.3,4.5,2.2,2.4])
print(x)

0    2.1
1    2.3
2    4.5
3    2.2
4    2.4
dtype: float64

In [51]:
mean     = np.mean(x)
std      =  np.std(x)
outliers = []
for item in x:
    z_score = (item - mean) /std
    if z_score > 1.5:
        outliers.append(item)
print(outliers)

[4.5]

Dealing with missing values

In [52]:
df = pd.read_csv('data/cereal.csv')
df

,Cereal Name,Manufacturer,Type,Calories,Protein (g),Fat,Sodium,Dietary Fiber,Carbs,Sugars,Display Shelf,Potassium,Vitamins and Minerals,Serving Size Weight,Cups per Serving
0,100%_Bran,Nabisco,C,70,4,1,130,10.0,5.0,6,3,280,25,1.0,0.33
1,100%_Natural_Bran,Quaker Oats,C,120,3,5,15,2.0,8.0,8,3,135,0,1.0,-1.00
2,All-Bran,Kelloggs,C,70,4,1,260,9.0,7.0,5,3,320,25,1.0,0.33
3,All-Bran_with_Extra_Fiber,Kelloggs,C,50,4,0,140,14.0,8.0,0,3,330,25,1.0,0.50
4,Almond_Delight,Ralston Purina,C,110,2,2,200,1.0,14.0,8,3,-1,25,1.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Triples,General Mills,C,110,2,1,250,0.0,21.0,3,3,60,25,1.0,0.75
70,Trix,General Mills,C,110,1,1,140,0.0,13.0,12,2,25,25,1.0,1.00
71,Wheat_Chex,Ralston Purina,C,100,3,1,230,3.0,17.0,3,1,115,25,1.0,0.67
72,Wheaties,General Mills,C,100,3,1,200,3.0,17.0,3,1,110,25,1.0,1.00
73,Wheaties_Honey_Gold,General Mills,C,110,2,1,200,1.0,16.0,8,1,60,25,1.0,0.75

In [53]:
df.loc[df['Potassium'] < 18, 'Potassium'] = np.nan
df

,Cereal Name,Manufacturer,Type,Calories,Protein (g),Fat,Sodium,Dietary Fiber,Carbs,Sugars,Display Shelf,Potassium,Vitamins and Minerals,Serving Size Weight,Cups per Serving
0,100%_Bran,Nabisco,C,70,4,1,130,10.0,5.0,6,3,280.0,25,1.0,0.33
1,100%_Natural_Bran,Quaker Oats,C,120,3,5,15,2.0,8.0,8,3,135.0,0,1.0,-1.00
2,All-Bran,Kelloggs,C,70,4,1,260,9.0,7.0,5,3,320.0,25,1.0,0.33
3,All-Bran_with_Extra_Fiber,Kelloggs,C,50,4,0,140,14.0,8.0,0,3,330.0,25,1.0,0.50
4,Almond_Delight,Ralston Purina,C,110,2,2,200,1.0,14.0,8,3,NaN,25,1.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Triples,General Mills,C,110,2,1,250,0.0,21.0,3,3,60.0,25,1.0,0.75
70,Trix,General Mills,C,110,1,1,140,0.0,13.0,12,2,25.0,25,1.0,1.00
71,Wheat_Chex,Ralston Purina,C,100,3,1,230,3.0,17.0,3,1,115.0,25,1.0,0.67
72,Wheaties,General Mills,C,100,3,1,200,3.0,17.0,3,1,110.0,25,1.0,1.00
73,Wheaties_Honey_Gold,General Mills,C,110,2,1,200,1.0,16.0,8,1,60.0,25,1.0,0.75

In [54]:
df.isnull()

,Cereal Name,Manufacturer,Type,Calories,Protein (g),Fat,Sodium,Dietary Fiber,Carbs,Sugars,Display Shelf,Potassium,Vitamins and Minerals,Serving Size Weight,Cups per Serving
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
70,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
71,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
72,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [55]:
#to check the number of nulls in each column
df.isnull().sum()

Cereal Name              0
Manufacturer             0
Type                     0
Calories                 0
Protein (g)              0
Fat                      0
Sodium                   0
Dietary Fiber            0
Carbs                    0
Sugars                   0
Display Shelf            0
Potassium                3
Vitamins and Minerals    0
Serving Size Weight      0
Cups per Serving         0
dtype: int64

In [56]:
df.dropna().isnull().sum()
#inplace = True needs to be added to make change in df itself

Cereal Name              0
Manufacturer             0
Type                     0
Calories                 0
Protein (g)              0
Fat                      0
Sodium                   0
Dietary Fiber            0
Carbs                    0
Sugars                   0
Display Shelf            0
Potassium                0
Vitamins and Minerals    0
Serving Size Weight      0
Cups per Serving         0
dtype: int64

In [57]:
df.isnull().sum()

Cereal Name              0
Manufacturer             0
Type                     0
Calories                 0
Protein (g)              0
Fat                      0
Sodium                   0
Dietary Fiber            0
Carbs                    0
Sugars                   0
Display Shelf            0
Potassium                3
Vitamins and Minerals    0
Serving Size Weight      0
Cups per Serving         0
dtype: int64

In [58]:
print(df['Potassium'].mean())

96.40845070422536

In [59]:
df['Potassium'].mean()

np.float64(96.40845070422536)

In [60]:
# try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


df.fillna({'Pottasium': 0}, inplace=True)

In [61]:
# import pandas as pd

# # Sample DataFrame
data = {'Pottasium': [100, None, 150, None, 200]}

df1 = pd.DataFrame(data)
df1
# Fill NaN values in the 'Pottasium' column with 0
df1.fillna({'Pottasium': df['Potassium'].mean()}, inplace=True)

print(df1)

    Pottasium
0  100.000000
1   96.408451
2  150.000000
3   96.408451
4  200.000000

In [62]:
df.isnull().sum()

Cereal Name              0
Manufacturer             0
Type                     0
Calories                 0
Protein (g)              0
Fat                      0
Sodium                   0
Dietary Fiber            0
Carbs                    0
Sugars                   0
Display Shelf            0
Potassium                3
Vitamins and Minerals    0
Serving Size Weight      0
Cups per Serving         0
dtype: int64

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cereal Name            74 non-null     object
 1   Manufacturer           74 non-null     object
 2   Type                   74 non-null     object
 3   Calories               74 non-null     int64
 4   Protein (g)            74 non-null     int64
 5   Fat                    74 non-null     int64
 6   Sodium                 74 non-null     int64
 7   Dietary Fiber          74 non-null     float64
 8   Carbs                  74 non-null     float64
 9   Sugars                 74 non-null     int64
 10  Display Shelf          74 non-null     int64
 11  Potassium              71 non-null     float64
 12  Vitamins and Minerals  74 non-null     int64
 13  Serving Size Weight    74 non-null     float64
 14  Cups per Serving       74 non-null     float64
dtypes: float64(5), int64(7), object(3)
memory usage: 8.8+ KB

Regular Expressions or RegEx----for this we use re module

In [64]:
import re

In [65]:
text = 'Python is my favorite programming language. I love Python'
x=re.findall('Python', text)
print(x)

['Python', 'Python']

To check if the string starts with certain pattern we can use hat ^

In [66]:
y=re.findall('^Python',text)
print(y)

['Python']

In [67]:
text1 = 'It is Python'
y=re.findall('^Python',text1)
print(y)

[]

To findall all the digit in string --->findall('\d',str)

In [76]:
import re

# Sample text
text = "There are 3 apples and 5 oranges."

# Find all digits in the text
digits = re.findall('\d', text)

print(digits)

['3', '5']

<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
/var/folders/29/_tmlvg6n585d3h2wxztm79qc0000gn/T/ipykernel_37524/1028461282.py:7: SyntaxWarning: invalid escape sequence '\d'
  digits = re.findall('\d', text)

In [77]:
text = '1.9 + 1.1 = 3'
print(re.findall('\d',text))

['1', '9', '1', '1', '3']

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
/var/folders/29/_tmlvg6n585d3h2wxztm79qc0000gn/T/ipykernel_37524/1028244480.py:2: SyntaxWarning: invalid escape sequence '\d'
  print(re.findall('\d',text))